*{padding:0px; margin:0px; box-sizing:border-box;}
main{
  text-align:center;
  margin:300px 0px 0px 40%;
  border:2px solid grey;
  max-width:200px;
  border-radius:5px;
  box-shadow:2px 3px 5px grey;
}
